<div>
  Hello
  <%= link_to t('.hi'), my_cool_link %>
</div>
<p>
  <%= link_to t('.yooo'), my_cool_link %>
</p>
<div>
  Hey there <%= link_to current_user.name, user_home, class: "highlight" %>, welcome!
</div>

<% #my cool comment %>
<%= link_to "Hello", "cool.com" %>
<textarea placeholder="my textarea placeholder"></textarea>
<input placeholder="my input placeholder">
<span>text within a span</span>

<p>
  Here I have a super cool paragraph with an <%= link_to "inline link", "www.example.com", class: "my-cool-link" %>.
  The text even carries on after - it's a miracle!!
</p>
